.container {
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 0px;
    bottom: 46px;
    width: 100%;
    overflow: hidden;
    background: #f3f5f7;

}
.lister-container{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    height:100%;
}
.lister{
    display: block;
    width: 92%;
    margin: 25px 4%;
    border: 1px solid #eaeefb;
    transition: .2s;
    box-shadow: 0 0 8px 0 rgba(232,237,250,.6),0 2px 4px 0 rgba(232,237,250,.5);
    background-color: #FFFFFF;
}
.lister .header{
    display: block;
    width: 100%;
    line-height: 45px;
    text-align: center;

    font-size: 14px;
    font-weight: 700;
    color: #07111b;
}
.content{
    display: block;
    width:100%;
}
.lister-item{
    display: block;
    width: 94%;
    line-height: 45px;
    border-bottom: 1px solid #0C0C0C;
    margin:0px 3%;
    border-bottom: 1px dotted rgba(7,17,27,.1);
}
.lister-item:last-child{
    border:none;
}
.lister-item div{
    display: inline-block;
    font-size: 14px;
    color: #07111b;
}
.lister-item .name{
    width:45%;
}
.lister-item .count{
    width:15%;
    text-align: right;
    font-size: 12px;
    font-weight: 700;
    color: #07111b;
}
.lister-item .total{
    width:30%;
    text-align: right;
}


.shopCart {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 48px;
    z-index: 50;
}
.shopCart .content {
    display: -ms-flexbox;
    display: flex;
    background: #141d27;
}
.shopCart .content .content-left {
    -ms-flex: 1;
    flex: 1;
    height: 48px;
}
.shopCart .content .content-left .price {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    margin-top: 12px;
    padding-right: 12px;
    box-sizing: border-box;
    /*color: hsla(0,0%,100%,.4);*/
    font-weight: 700;
    line-height: 24px;
    border-right: 1px solid hsla(0,0%,100%,.1);
    width: 45%;
    color: #FFFFFF;
    padding-left:20px;
}
.shopCart .content .content-left .desc {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin: 12px 0 0 12px;
    font-size: 10px;
    color: hsla(0,0%,100%,.4);
    font-weight: 700;
    line-height: 24px;
}
.shopCart .content .content-right {
    -ms-flex: 0 0 105px;
    flex: 0 0 105px;
    font-size: 12px;
    font-weight: 700;
    background: #2b343c;
    line-height: 48px;
    text-align: center;
    background: #00b43c;
    color: #fff;
}
.desc .labels{
    padding:4px 6px;
    border:1px solid rgba(7,17,27,.1);
    font-size:10px;
    color: #93999f;
}
.lister-item div.desc {
    font-size:10px;
    color: #93999f;
    width:80%;
}
.lister-item div.action {
    font-size:10px;
    color: #93999f;
    width:15%;
}
.lister-item div.action span {
    padding: 4px 6px;
    border: 1px solid #FF0000;
    font-size: 10px;
    color: #FF0000;
}
.mark{
    display: block;
    width: 94%;
    margin: 5px 3%;
    height:135px;
    border: none;
    resize: none;
    background-color: #f3f5f7;
    font-size: 14px;
    line-height: 18px;
    padding:10px;
    color: #93999f;
}
.desc .labels.active{
    border:1px solid #00a0dc;
    color: #00a0dc;
}
.re_pick{
    display: block;
    width: 50%;
    margin: 15px auto;
    text-align: center;
    font-size: 14px;
    height:35px;
    line-height:35px;
    color: #FFFFFF;
    background: #FF4949;
}